@import "tailwindcss";

:root {
  color-scheme: light only;
}

html,
body {
  background-color: #eef0f6;
  color: #121212;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
/* Chrome, Edge, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
